* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigation {
    position: relative;

    &__list {
        display: inline-block;
        margin-top: 15px;
        margin-left: 20px;
        

        &--left {
            float: left;
            
        }

        &--right {
            position: absolute;
            margin-right: 20px;
            right: 0;
            
        }
    }
    &__item {
        padding-right: 10px;
        display: inline-block;

    }


    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: dimgray;
        }
    }

    &__profile {
        transform: translateY(10px);
        width: 40px;
        border-radius: 50%;
        margin-top: -20px;
    }
}

.search {
    text-align: center;
    margin-top: 10vh;

    &__logo {
        width: 300px;;
    }

    &__bar {
        margin-top: -45px;
    }

    &__input {
        width: 550px;
        height: 43px;
        padding: 10px 10px;
        border-radius: 50px;
        border: 1px solid lightgrey;
        transition: all .1s;
        
        &:focus {
            outline: none;
        }
        &:hover {
            box-shadow: 1px 1px 8px rgba(black, 0.3);
        }
    }

}


.btn {
    margin-top: 30px;

    &--grey {
        &:link,
        &:visited {
        text-decoration: none;
        color: dimgrey; 
        }

        background-color: #F3F3F3;
        padding: 10px 15px;
        border-radius: 3px;
        border: 1px solid transparent;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover {
            border: 1px solid lightgray;
        }
    }
}

.footer {
    margin-top: 420px;
    background-color: #F3F3F3;

    &__location {
        display: block;
        color: dimgrey;
        padding: 10px 20px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        
        
    }

    &__information {
        padding-bottom: 6px;
    }

}