* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navigation {
  position: relative; }
  .navigation__list {
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px; }
    .navigation__list--left {
      float: left; }
    .navigation__list--right {
      position: absolute;
      margin-right: 20px;
      right: 0; }
  .navigation__item {
    padding-right: 10px;
    display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: dimgray; }
  .navigation__profile {
    transform: translateY(10px);
    width: 40px;
    border-radius: 50%;
    margin-top: -20px; }

.search {
  text-align: center;
  margin-top: 10vh; }
  .search__logo {
    display: inline-block;
    width: 250px; }
  .search__input {
    width: 550px;
    height: 43px;
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid lightgrey;
    transition: all .1s; }
    .search__input:focus {
      outline: none; }
    .search__input:hover {
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }

.btn {
  margin-top: 30px; }
  .btn--grey {
    background-color: #F3F3F3;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid transparent; }
    .btn--grey:link, .btn--grey:visited {
      text-decoration: none;
      color: dimgrey; }
    .btn--grey:not(:last-child) {
      margin-right: 15px; }
    .btn--grey:hover {
      border: 1px solid lightgray; }

.footer {
  position: absolute;
  background-color: #F3F3F3;
  bottom: 0;
  width: 100%; }
  .footer__location {
    display: block;
    color: dimgrey;
    padding: 10px 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; }
